/*Name this external file gallery.css*/
body{
    padding:40px;
		margin: 1.5%;
		border: 1px solid black;
    background-color: #78bec2;
}
.body
{
  display: flex;
  justify-content: space-evenly;
  height: 80vh;
  max-height: 580px;
  width: 100%;
}

#image{
    width:40%;
    line-height: 480px;
    height: 100%;
    max-height: 550px;
		border:5px solid black;
    background-color: #29223e;
    background-image: url('');
    background-repeat: no-repeat;
    color:#FFFFFF;
    text-align: center;
    background-position: center;
    background-size: cover;
    margin-bottom:25px;
    font-size: 150%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.687);
    transition: background 0.2s ease-in-out,bacground 0.2s ease-in;

}
.grid{
  height: 100%;
  max-height: 560px;
  display: grid;
  grid-template-rows: auto auto auto;
  justify-content: space-evenly;
  align-content: space-around;
  
 
}
.preview{
		width:110px;
    margin-left:17%;
    border: 5px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.687);
}
img{
		width:95%;
}
.preview:hover{
 opacity: 0.8;
border-color: rgb(87, 85, 230);
}
